html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

span {
  display: inline-block; }

.clear {
  clear: both; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-weight: 600;
  font-size: 25px; }

h2 {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  padding-bottom: 44px; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 30px; } }

a {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/*====================================*/
.header h1 {
  color: orange;
  font-size: 18px; }
  @media screen and (min-width: 768px) {
    .header h1 {
      font-size: 21px; } }
  @media screen and (min-width: 992px) {
    .header h1 {
      font-size: 25px; } }

.header__box_title {
  padding-top: 22px;
  padding-bottom: 12px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .header__box_title {
      text-align: left;
      padding-top: 12px; } }
  @media screen and (min-width: 992px) {
    .header__box_title {
      padding-top: 17px;
      padding-bottom: 22px; } }
.header__box img {
  margin: 0 auto; }
.header__box_tel {
  text-align: center;
  padding-top: 20px; }
  .header__box_tel span {
    font-size: 16px;
    background: url(../img/tel.png) no-repeat left top 4px;
    padding-left: 20px;
    padding-bottom: 10px; }
    @media screen and (min-width: 992px) {
      .header__box_tel span {
        font-size: 18px; } }
  @media screen and (min-width: 768px) {
    .header__box_tel {
      text-align: right;
      padding-top: 16px; } }
  @media screen and (min-width: 992px) {
    .header__box_tel {
      padding-top: 36px; } }
  .header__box_tel a {
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    color: #fff;
    padding: 0px 15px;
    background: orange;
    display: inline-block;
    font-size: 13px;
    font-weight: 600px; }
    .header__box_tel a:hover {
      background: #FFDE39;
      color: black; }
.header__box_menu {
  border-bottom: 2px solid orange;
  padding-bottom: 28px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .header__box_menu {
      border-bottom: none;
      padding-bottom: 0; } }
  .header__box_menu .bars {
    position: absolute;
    right: 0;
    top: 0; }
    @media screen and (min-width: 768px) {
      .header__box_menu .bars {
        display: none; } }
    .header__box_menu .bars .fa-bars {
      font-size: 25px;
      color: orange;
      cursor: pointer; }
  .header__box_menu ul {
    text-align: center;
    padding-top: 34px;
    display: none; }
    @media screen and (min-width: 768px) {
      .header__box_menu ul {
        padding-top: 0;
        text-align: left;
        display: flex !important;
        justify-content: space-between; } }
    .header__box_menu ul li {
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .header__box_menu ul li {
          display: inline-block;
          margin-bottom: 0; } }
      .header__box_menu ul li a {
        color: black;
        font-size: 19px; }
        .header__box_menu ul li a:hover {
          color: orange; }
        @media screen and (min-width: 768px) {
          .header__box_menu ul li a {
            font-size: 16px; } }
        @media screen and (min-width: 992px) {
          .header__box_menu ul li a {
            font-size: 20px; } }

.slider-wrap {
  margin-top: 30px;
  display: none; }
  @media screen and (min-width: 768px) {
    .slider-wrap {
      display: block; } }

#slider .owl-dots {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px; }
  #slider .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 10px; }
    #slider .owl-dots .owl-dot span {
      float: left;
      display: inline-block;
      border-radius: 10em;
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      background: orange; }
  #slider .owl-dots .active {
    margin-bottom: -2px; }
    #slider .owl-dots .active span {
      border-radius: 10em;
      border: 2px solid #fff;
      width: 18px;
      height: 18px;
      border: 2px solid #fff;
      background: orange; }

.uslugi-wrap {
  padding-top: 30px; }
  @media screen and (min-width: 992px) {
    .uslugi-wrap {
      background: url(../img/bg.png) no-repeat top 150px right; } }
  .uslugi-wrap h2 {
    text-align: center; }

.uslugi-box {
  text-align: center;
  max-width: 268px;
  height: 154px;
  margin: 0 auto;
  padding-top: 108px;
  margin-bottom: 30px;
  border: 1px solid #CBC9C9;
  border-radius: 10px;
  overflow: hidden; }
  .uslugi-box span {
    font-size: 20px;
    font-weight: 500; }
  .uslugi-box__1 {
    background: url(../img/s1.png) no-repeat top -1px center; }
  .uslugi-box__2 {
    background: url(../img/s2.png) no-repeat top -1px center; }
  .uslugi-box__3 {
    background: url(../img/s3.png) no-repeat top -1px center; }
  .uslugi-box__4 {
    background: url(../img/s4.png) no-repeat top -1px center; }

.price-wrap {
  padding: 30px 0px; }

.price-box {
  max-width: 800px;
  margin: 0 auto; }
  .price-box ul li {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 11px;
    background: url(../img/galka.png) no-repeat left center;
    padding-left: 30px;
    height: 22px; }
    @media screen and (min-width: 480px) {
      .price-box ul li {
        font-size: 15px; } }
    @media screen and (min-width: 992px) {
      .price-box ul li {
        font-size: 18px; } }
    .price-box ul li b {
      font-weight: 600;
      color: orange; }
  .price-box p {
    padding-top: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline; }

.portfolio-wrap {
  background: url(../img/bgfolio.jpg) no-repeat top center;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 40px; }
  .portfolio-wrap h2 {
    text-align: center;
    padding: 35px 0px; }

@media screen and (min-width: 768px) {
  #slider-folio .nav-left {
    background: rgba(255, 0, 0, 0.7) url(../img/left.png) no-repeat top 8px center;
    width: 40px;
    height: 46px;
    position: absolute;
    top: 46%;
    left: -20px;
    transform: translateY(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    #slider-folio .nav-left:hover {
      background: red url(../img/left.png) no-repeat top 8px center; }
  #slider-folio .nav-right {
    background: rgba(255, 0, 0, 0.7) url(../img/right.png) no-repeat top 8px center;
    width: 40px;
    height: 46px;
    position: absolute;
    top: 46%;
    right: -20px;
    transform: translateY(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    #slider-folio .nav-right:hover {
      background: red url(../img/right.png) no-repeat top 8px center; } }
#slider-folio .item__box_folio {
  position: relative; }
  #slider-folio .item__box_folio span {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 100%; }
  #slider-folio .item__box_folio:hover span {
    display: block; }
  #slider-folio .item__box_folio:hover:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }

.form-wrap {
  background: url(../img/mess-bg.jpg) no-repeat top center;
  width: 100%;
  background-size: cover;
  text-align: center;
  padding: 55px 0px 100px;
  margin-top: 15px; }
  .form-wrap h2, .form-wrap p {
    color: #fff; }
  .form-wrap p {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .form-wrap b {
    color: #FF8800;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 30px; }
  .form-wrap input[type="text"] {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .form-wrap input[type="text"] {
        width: 33%; } }
  .form-wrap input[type="submit"] {
    width: 80%;
    background: orange;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    height: 50px;
    text-transform: uppercase;
    border: none;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 768px) {
      .form-wrap input[type="submit"] {
        width: 33%; } }
    .form-wrap input[type="submit"]:hover {
      background: #FFDE39;
      color: black; }

.map {
  min-height: 400px; }

.contact-box {
  padding: 35px 0px 15px;
  text-align: center; }
  .contact-box h3 {
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 25px; }
  .contact-box span {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px; }

.footer-wrap {
  background: orange;
  padding: 25px 0px;
  text-align: center;
  font-weight: 500;
  color: #fff; }

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: none; }

.window {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 9998;
  border: none; }
  .window .form-wrap-main {
    max-width: 400px;
    border: 2px solid orange;
    background: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center; }
  .window .dd-close {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: 11px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    font-weight: 600; }
  .window .dd-close:hover {
    color: orange; }

.my-input {
  width: 100%;
  outline: none;
  border: 1px solid orange;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 15px;
  height: 40px;
  margin-bottom: 15px; }

.form-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 211px;
  margin: 0 auto;
  outline: none;
  height: 40px;
  border: none;
  background: orange;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center; }
  .form-button:hover {
    background: #FFDE39;
    color: black; }

/*# sourceMappingURL=style.css.map */
