html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}
body{
  font-family: 'Open Sans', sans-serif;
}
h1{
    font-weight: 600;
    font-size: 25px;
}
h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding-bottom: 44px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
}
a{
 -webkit-transition:0.5s;
 transition:0.5s;
}

/*====================================*/
.header{
    h1{
        color:orange;
        font-size: 18px;
        @media screen and (min-width: 768px) {
            font-size: 21px;
        }
        @media screen and (min-width: 992px) {
            font-size: 25px;
        }
    }
}
.header__box{
    &_title{
        padding-top: 22px;
        padding-bottom: 12px;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
            padding-top: 12px;
        }
        @media screen and (min-width: 992px) {
            padding-top: 17px;
            padding-bottom: 22px;
        }
    }
    img{
        margin: 0 auto;
    }

    &_tel{
        text-align: center;
        padding-top: 20px;
        span{
            font-size: 16px;
            background:url(../img/tel.png) no-repeat left top 4px;
            padding-left: 20px;
            padding-bottom: 10px;
            @media screen and (min-width: 992px) {
                font-size: 18px;
            }
        }
        @media screen and (min-width: 768px) {
            text-align: right;
            padding-top: 16px;
        }
        @media screen and (min-width: 992px) {
            padding-top: 36px;
        }
        a{
            text-transform: uppercase;
            border-radius: 10px;
            text-align: center;
            height: 42px;
            line-height: 42px;
            color:#fff;
            padding: 0px 15px;
            background:orange;
            display: inline-block; 
            font-size: 13px;
            font-weight: 600px;
            &:hover{
                background:#FFDE39;
                color:black;
            }
        }
    }
    &_menu{
        border-bottom: 2px solid orange;
        padding-bottom: 28px;
        position: relative;
        @media screen and (min-width: 768px) {
            border-bottom: none;
            padding-bottom: 0;
        }
        .bars{
            position: absolute;
            right: 0;
            top: 0;
            @media screen and (min-width: 768px) {
                display: none;
            }
            .fa-bars{
                font-size: 25px;
                color:orange;
                cursor:pointer;
            }
        }
        ul{
            text-align: center;
            padding-top: 34px;
            display: none;
            @media screen and (min-width: 768px) {
                padding-top: 0;
                text-align: left;
                display: flex !important;
                justify-content: space-between;
            }
            li{
                margin-bottom: 10px;
                @media screen and (min-width: 768px) {
                    display: inline-block;
                    margin-bottom: 0;
                }
                a{
                    color:black;
                    font-size: 19px;
                    &:hover{
                        color:orange;
                    }
                    @media screen and (min-width: 768px) {
                        font-size: 16px;
                    }
                    @media screen and (min-width: 992px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.slider-wrap{
    margin-top: 30px;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
#slider{

    .owl-dots{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:60px;
        .owl-dot{
            display: inline-block;
            margin-right: 10px;
            span{
                float: left;
                display: inline-block;
                border-radius:10em;
                width: 12px;
                height: 12px; 
                border:2px solid #fff;
                background:orange;
            }
        }
        .active{
            margin-bottom: -2px;
            span{
                border-radius:10em;
                border:2px solid #fff;
                width: 18px;
                height: 18px; 
                border:2px solid #fff;
                background:orange;
            }
        }
    }
}
.uslugi-wrap{
    padding-top: 30px;
    @media screen and (min-width: 992px) {
        background:url(../img/bg.png) no-repeat top 150px right;
    }
    h2{
        text-align: center;

    }
}
.uslugi-box{
    text-align: center;
    max-width: 268px;
    height: 154px;
    margin: 0 auto;
    padding-top: 108px;
    margin-bottom: 30px;
    border:1px solid #CBC9C9;
    border-radius: 10px;
    overflow: hidden;
    span{
        font-size: 20px;
        font-weight: 500;
    }
    &__1{
        background:url(../img/s1.png) no-repeat top -1px center;
    }
    &__2{
        background:url(../img/s2.png) no-repeat top -1px center;
    }
    &__3{
        background:url(../img/s3.png) no-repeat top -1px center;
    }
    &__4{
        background:url(../img/s4.png) no-repeat top -1px center;
    }
}
.price-wrap{
    padding: 30px 0px;
}
.price-box{
    max-width: 800px;
    margin: 0 auto;
    ul{
        li{
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 11px;
            background:url(../img/galka.png) no-repeat left center;
            padding-left: 30px;
            height: 22px;
            @media screen and (min-width: 480px) {
                font-size: 15px;
            }
            @media screen and (min-width: 992px) {
                font-size: 18px;
            }
            b{
                font-weight: 600;
                color:orange;
            }
        }
    }
    p{
        padding-top: 70px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
    }
}
.portfolio-wrap{
    background:url(../img/bgfolio.jpg) no-repeat top center;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 40px;
    h2{
        text-align: center;
        padding: 35px 0px;
    }
}
#slider-folio{
    @media screen and (min-width: 768px) {
       .nav-left{
        background:rgba(red, 0.7) url(../img/left.png) no-repeat top 8px center;
        width: 40px;
        height: 46px;
        position:absolute;
        top:46%;
        left:-20px;
        transform: translateY(-50%);
        -webkit-transition:0.5s;
        transition:0.5s;
        &:hover{
            background:rgba(red, 1) url(../img/left.png) no-repeat top 8px center;
        }
    }
    .nav-right{
        background:rgba(red, 0.7) url(../img/right.png) no-repeat top 8px center;
        width: 40px;
        height: 46px;
        position:absolute;
        top:46%;
        right:-20px;
        transform: translateY(-50%);
        -webkit-transition:0.5s;
        transition:0.5s;
        &:hover{
            background:rgba(red, 1) url(../img/right.png) no-repeat top 8px center;
        }
    }
}
.item__box_folio{
    position: relative;
    span{
        display: none;
        position: absolute;
        z-index: 9999;
        top: 40%;
        left: 50%;
        transform:translateX(-50%);
        color:#fff;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }
    &:hover span{
        display: block;
    }
    &:hover:after{
        position: absolute;
        content:"";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:rgba(black, 0.5);
    }
}
}
.form-wrap{
    background:url(../img/mess-bg.jpg) no-repeat top center;
    width: 100%;
    background-size:cover;
    text-align: center;
    padding: 55px 0px 100px;
    margin-top: 15px;
    h2, p{
        color:#fff;
    }
    p{
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    b{
        color:#FF8800;
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    input[type="text"]{
        width: 100%;
        height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        border:none;
        margin-bottom: 25px;
        @media screen and (min-width: 768px) {
            width: 33%;
        }
    }
    input[type="submit"]{
        width: 80%;
        background:orange;
        color:#fff;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        height: 50px;
        text-transform: uppercase;
        border:none;
        outline: none;
        -webkit-transition:0.5s;
        transition:0.5s;
        @media screen and (min-width: 768px) {
            width: 33%;
        }
        &:hover{
            background:#FFDE39;
            color:black;
        }
    }
}
.map{
    min-height: 400px;
}
.contact-box{
    padding: 35px 0px 15px;
    text-align: center;
    h3{
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 25px;
    }
    span{
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 15px;
    }
}
.footer-wrap{
    background:orange;
    padding: 25px 0px;
    text-align: center;
    font-weight: 500;
    color:#fff;
}